.field figure img { width:auto; height:5rem; border:1px solid #444; }

.buttons { margin-top:2rem; border-top:1px solid #848484; padding-top:1rem; }

form fieldset { margin-bottom:1rem; }

fieldset.improved { border:1px solid #444;  margin-bottom:2rem; padding:1rem; }
fieldset.improved:last-of-type  { margin-bottom:0; }
fieldset.improved > legend { background-color:#222; color:#eee;  padding:0.3rem 1rem; border-radius:0.2rem; margin-left:-0.5rem; }


