.review-single { margin-bottom:2rem; }
.review-single .box { border:2px solid darkorange; border-bottom-right-radius:0.4rem; border-bottom-left-radius:0.4rem; }
.review-single .box header { background-color:#eee; padding:0.5rem; margin-bottom:0.25rem; }

.review-text { padding:0.5rem; }

.review-single p { margin:0; }

.star { background-position:left center; background-repeat:no-repeat; background-size:auto 100%; transition:background-image .4s, color .4s; width:1rem; height:1rem; display:inline-block; }
.star-on { background-image:url('/img/svg/star-fill.svg'); }
.star-off { background-image:url('/img/svg/star.svg'); }
